.skip-grid {
  display: grid;
  gap: 1.5rem;
  margin-top: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1024px) {
  .skip-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 425px) {
  .skip-grid {
    grid-template-columns: 1fr;
  }
}
